@model MvcBlog.Domain.Entities.Post

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("EditPost", "Admin"))
{
    <div class="admin-container">

        @if (@Model.PostID != 0)
        {   //show if we are editing post
            <div class="editor-label">Post ID</div>
            <div class="text-box">@Html.EditorFor(p => p.PostID)</div>

            <div class="editor-label">Post Created By</div>
            <div class="text-box">@Html.EditorFor(p => p.PostCreatedBy)</div>

            <div class="editor-label">Post Creation Date</div>
            <div class="text-box">@Html.EditorFor(p => p.PostCreationDate)</div>

            <div class="editor-label">Post Last Modified By</div>
            <div class="text-box">@Html.EditorFor(p => p.PostLastModifiedBy)</div>

            <div class="editor-label">Post Last Modification Date</div>
            <div class="text-box">@Html.EditorFor(p => p.PostLastModificationDate)</div>
        }

        <div class="editor-label">Post Title</div>
        <div class="text-box">@Html.TextBoxFor(p => p.PostTitle, htmlAttributes: new { @class = "single-line form-control" })</div>

        <div class="editor-label">Post Description</div>
        <div>@Html.TextAreaFor(p => p.PostDescription, htmlAttributes: new { @class = "form-control", @rows = "3" })</div>

        <div class="editor-label">Post Content</div>
        <div>@Html.TextAreaFor(p => p.PostContent, htmlAttributes: new { @class = "form-control", @rows = "10" })</div>

        <div class="editor-label">Post Category</div>
        <div class="text-box">@Html.TextBoxFor(p => p.PostCategory, htmlAttributes: new { @class = "single-line form-control" })</div>

        <div class="editor-label">Post Visible?</div>
        <div>@Html.CheckBoxFor(p => p.PostIsVisible, htmlAttributes: new { @checked = "checked" })</div>

        <div class="editor-label">Comments enabled for the post?</div>
        <div>@Html.CheckBoxFor(p => p.PostCommentsEnabled, htmlAttributes: new { @checked = "checked" })</div>

        <p class="pull-right">@Html.ActionLink("Cancel", "ManagePosts", "Admin", routeValues: null, htmlAttributes: new { @class = "btn btn-warning" })<p />
        <p><input type="submit" value="Save" class="btn btn-success" /></p>

    </div>
}