@model MvcBlog.Domain.Entities.Comment

@{
    ViewBag.Title = "Edit Comment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--Initialize TinyMCE wysiwyg redactor (do not use bundle)-->
<script src="~/Scripts/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        selector: "textarea",
        menubar: false,
        statusbar: true,
        resize: true,
        toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent"
    });

</script>

@using (Html.BeginForm("EditComment", "Admin"))
{
    <div class="editor-container">
        <h2>Edit Comment</h2>

        <fieldset>
            
            @Html.LabelFor(c => c.CommentID, new { @class = "control-label" })
            <div class="text-disabled">
                @Html.EditorFor(c => c.CommentID, new { @class = "text-disabled" })
            </div>
            
            @Html.LabelFor(c => c.PostID, new { @class = "control-label" })
            <div class="text-disabled">
                @Html.EditorFor(c => c.PostID)
            </div>

            @Html.LabelFor(c => c.CommentCreatedBy, new { @class = "control-label" })
            <div class="text-disabled">
                @Html.EditorFor(c => c.CommentCreatedBy, new { @class = "form-control disabled" })
            </div>

            @Html.LabelFor(c => c.CommentCreationDate, new { @class = "control-label" })
            <div class="text-disabled">
                @Html.EditorFor(c => c.CommentCreationDate, new { @class = "form-control disabled" })
            </div>
            
            @Html.LabelFor(c => c.CommentLastModifiedBy, new { @class = "control-label" })
            <div class="text-disabled">
                @Html.EditorFor(c => c.CommentLastModifiedBy, new { @class = "form-control disabled" })
            </div>

            @Html.LabelFor(c => c.CommentLastModificationDate, new { @class = "control-label" })
            <div class="text-disabled">
                @Html.EditorFor(c => c.CommentLastModificationDate, new { @class = "form-control disabled" })
            </div>

            @Html.LabelFor(c => c.CommentContent, new { @class = "control-label" })
            @Html.TextAreaFor(c => c.CommentContent, new { @class = "form-control" })

            <div class="checkbox">
                @Html.LabelFor(c => c.CommentIsVisible)
                @Html.CheckBoxFor(c => c.CommentIsVisible)
            </div>

        </fieldset>

        <p class="pull-right">
            @Html.ActionLink("Cancel and return to list", "ManageComments", null, new { @class = "btn btn-warning" })
        </p>
        <p>
            <input type="submit" value="Save" class="btn btn-success" />
        </p>
    </div>
}