@model IEnumerable<MvcBlog.Domain.Entities.Post>

@{
    ViewBag.Title = "ManagePosts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Manage posts</h2>
<p>
    @Html.ActionLink("Create New", "CreatePost")
</p>

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.PostID)</th>
        <th>@Html.DisplayNameFor(model => model.PostTitle)</th>
        <th>@Html.DisplayNameFor(model => model.PostCategory)</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.PostID)</td>
            <td>@Html.ActionLink(item.PostTitle, "EditPost", new {item.PostID})</td>
            <td>@Html.DisplayFor(modelItem => item.PostCategory)</td>
            <td>
                @using (Html.BeginForm("DeletePost", "Admin"))
                {
                    @Html.Hidden("PostId", item.PostID)
                    <input type="submit" value="Delete" />
                }
            </td>
        </tr>
    }
</table>