@using MvcBlog.Domain.Entities
@model IEnumerable<MvcBlog.Domain.Entities.Post>

@Scripts.Render("~/bundles/jquerySlides")

<style>
    #slides .slidesjs-navigation {
        margin-top: 5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
        background-image: url(Content/Theme/Slides-btns-next-prev.png);
        background-repeat: no-repeat;
        display: block;
        width: 12px;
        height: 18px;
        overflow: hidden;
        text-indent: -9999px;
        float: left;
        margin-right: 5px;
    }

    a.slidesjs-next {
        margin-right: 10px;
        background-position: -12px 0;
    }

    a:hover.slidesjs-next {
        background-position: -12px -18px;
    }

    a.slidesjs-previous {
        background-position: 0 0;
    }

    a:hover.slidesjs-previous {
        background-position: 0 -18px;
    }

    a.slidesjs-play {
        width: 15px;
        background-position: -25px 0;
    }

    a:hover.slidesjs-play {
        background-position: -25px -18px;
    }

    a.slidesjs-stop {
        width: 18px;
        background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
        background-position: -41px -18px;
    }

    .slidesjs-pagination {
        margin: 7px 0 0;
        float: right;
        list-style: none;
    }

        .slidesjs-pagination li {
            float: left;
            margin: 0 1px;
        }

            .slidesjs-pagination li a {
                display: block;
                width: 13px;
                height: 0;
                padding-top: 13px;
                background-image: url(Content/Theme/Slides-pagination.png);
                background-position: 0 0;
                float: left;
                overflow: hidden;
            }

                .slidesjs-pagination li a.active,
                .slidesjs-pagination li a:hover.active {
                    background-position: 0 -13px;
                }

                .slidesjs-pagination li a:hover {
                    background-position: 0 -26px;
                }

    #slides a:link,
    #slides a:visited {
        color: #333;
    }

    #slides a:hover,
    #slides a:active {
        color: #9e2020;
    }

    .navbar {
        overflow: hidden;
    }
</style>

<div id="slides">

    @foreach (Post slide in Model)
    {
        <div class="featured">
            <img src="@Url.Action("GetPostFeatured", "Posts", new { slide.PostID })" width=" 940" height="422">
            <div class="featured-text">
                <span class="featured-link">
                    @Html.RouteLink(slide.PostTitle, new { controller = "Posts", action = "SinglePost", category = @slide.PostCategory, postId = @slide.PostID })
                </span>
            </div>
        </div>
    }
</div>

<!--Initialize Slideshow-->
<script>
    $(function () {
        $("#slides").slidesjs({
            width: 940,
            height: 428,
            play: {
                active: true,
                auto: true,
                interval: 6000,
                swap: true,
                pauseOnHover: true,
                restartDelay: 2500
            },
            effect: {
                slide: {
                    // Slide effect settings.
                    speed: 600
                    // [number] Speed in milliseconds of the slide animation.
                },
                fade: {
                    speed: 300,
                    // [number] Speed in milliseconds of the fade animation.
                    crossfade: true
                    // [boolean] Cross-fade the transition.
                }
            }

        });
    });
</script>