@using MvcBlog.Domain.Entities
@model IEnumerable<MvcBlog.Domain.Entities.Post>

@Scripts.Render("~/bundles/jquerySlides")
@Styles.Render("~/Content/slidercss")

<div id="slides">

    @foreach (Post slide in Model)
    {
        <div class="featured">
            <img src="@Url.Action("GetPostFeatured", "Posts", new { slide.PostID })" width=" 940" height="422">
            <div class="featured-text">
                <span class="featured-link">
                    @Html.RouteLink(slide.PostTitle, new { controller = "Posts", action = "SinglePost", category = @slide.PostCategory, postId = @slide.PostID })
                </span>
            </div>
        </div>
    }
</div>

<!--Initialize Slideshow-->
<script>
    $(function () {
        $("#slides").slidesjs({
            width: 940,
            height: 428,
            play: {
                active: true,
                auto: true,
                interval: 6000,
                swap: true,
                pauseOnHover: true,
                restartDelay: 2500
            },
            effect: {
                slide: {
                    // Slide effect settings.
                    speed: 600
                    // [number] Speed in milliseconds of the slide animation.
                },
                fade: {
                    speed: 300,
                    // [number] Speed in milliseconds of the fade animation.
                    crossfade: true
                    // [boolean] Cross-fade the transition.
                }
            }

        });
    });
</script>