@model MvcBlog.WebUI.Models.LocalPasswordModel

<h2>Change password</h2>

@using (Html.BeginForm("ChangePassword", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
    
    <p>@ViewBag.StatusMessage</p>
    
    <fieldset>
        <legend>Change Password Form</legend>





        <table>
            <tr>
                <td>@Html.LabelFor(m => m.OldPassword)</td>
                <td>@Html.PasswordFor(m => m.OldPassword)</td>   
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.NewPassword)</td>
                <td>@Html.PasswordFor(m => m.NewPassword)</td>
                
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
            </tr>
        </table>
        <input type="submit" value="Change password" />
    </fieldset>
    
    <div>
        @Html.ActionLink("Manage account information", "UpdateUserInfo", "Account")
    </div>
}
