@model MvcBlog.WebUI.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Forgot password";
}

<h2>Forgot Password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
        
    <fieldset>
        <legend>Forgot Password Form</legend>

        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">
                @TempData["Message"]
            </div>
        }

        else
        {
            <div class="form-group">

                @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
        
            <input type="submit" value="Recover" class="btn btn-primary" />
        }
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}