@model MvcBlog.WebUI.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Log in Form</legend>
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.UserName)</td>
                <td>
                    @Html.TextBoxFor(m => m.UserName)
                </td>
                <td>@Html.ValidationMessageFor(m => m.UserName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password)</td>
                <td>@Html.PasswordFor(m => m.Password)</td>
                <td>@Html.ValidationMessageFor(m => m.Password)</td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </td>
            </tr>
        </table>
        <input type="submit" value="Log in" />
    </fieldset>
    <p>
    @Html.ActionLink("Recover", "ForgotPassword") if you forgot your password.
    </p>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
</section>