<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" />

    @Styles.Render("~/Content/admincss")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <title>MVC Blog: @ViewBag.Title</title>

</head>
<body>

    <div id="admin-tabs">
        @Html.ActionLink("Back to site", "List", "Posts")
        @Html.ActionLink("Manage posts", "ManagePosts", "Admin", new { @class = @ViewBag.CurrentEdit == "Posts" ? "selected-posts" : null })
        @Html.ActionLink("Manage comments", "ManageComments", "Admin", new { @class = @ViewBag.CurrentEdit == "Comments" ? "selected-comments" : null })
        @Html.ActionLink("Manage users", "ManageUsers", "Admin", new { @class = @ViewBag.CurrentEdit == "Users" ? "selected-users" : null })
        @Html.ActionLink("Site configuration", "SiteConfig", "Admin", new {@class = @ViewBag.CurrentEdit == "Site" ? "selected-site" : null })
    </div>

    @if (TempData["message"] != null)
    {
        <div id="info-message" class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @TempData["message"]
        </div>
    }
    
    @RenderBody()
</body>
</html>

@RenderSection("scripts", required: false)