<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link href="~/Content/Site.css" type="text/css" rel="stylesheet" />*@

    <title>@ViewBag.Title</title>
</head>
<body class="admin-layout">
    <div class="adminTabs">
        @Html.ActionLink("Back to site", "List", "Posts")
        @Html.ActionLink("Manage posts", "ManagePosts", "Admin")
        @Html.ActionLink("Manage comments", "ManageComments", "Admin")
    </div>
    <div>
        @if (TempData["message"] != null)
        {
            <div class="Message">@TempData["message"]</div>
        }
        @RenderBody()
    </div>
</body>

</html>
