<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" />

    <link href="~/Content/Admin.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/Gridmvc.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" type="text/css" rel="Stylesheet" />

    <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>

    <!--Initialize TinyMCE wysiwyg redactor-->
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>

    <title>@ViewBag.Title</title>

</head>
<body>

    <div id="admin-tabs">
        @Html.ActionLink("Back to site", "List", "Posts")
        @Html.ActionLink("Manage posts", "ManagePosts", "Admin", new { @class = @ViewBag.CurrentEdit == "Posts" ? "selected-posts" : null })
        @Html.ActionLink("Manage comments", "ManageComments", "Admin", new { @class = @ViewBag.CurrentEdit == "Comments" ? "selected-comments" : null })
    </div>



    @if (TempData["message"] != null)
    {     
        <span id="info-message" class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @TempData["message"]
        </span>
    }

    @RenderBody()

</body>

</html>
