@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>MVC Blog: @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery.slides")
    @Scripts.Render("~/bundles/bootstrap")

    <!--Initialize Slideshow-->
    <script>
        $(function () {
            $("#slides").slidesjs({
                width: 940,
                height: 422,
                play: {
                    active: true,
                    auto: true,
                    interval: 6000,
                    swap: true,
                    pauseOnHover: true,
                    restartDelay: 2500
                },
                effect: {
                    slide: {
                        // Slide effect settings.
                        speed: 600
                        // [number] Speed in milliseconds of the slide animation.
                    },
                    fade: {
                        speed: 300,
                        // [number] Speed in milliseconds of the fade animation.
                        crossfade: true
                        // [boolean] Cross-fade the transition.
                    }
                }

            });
        });
    </script>
</head>

<body class="body-layout">
    <div style="background-color: white">
        <div id="header">
            <div id="header-title">
                <a href="@Url.Action("List","Posts",routeValues: new {page = 1})">ASP.NET MVC Blog</a>
            </div>
            <div id="login">
                @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
            </div>
        </div>
        <div id="categories">
            <p>
                @{ Html.RenderAction("Menu", "Navigation"); }
            </p>
        </div>
        <div id="content">
            @RenderBody()
        </div>

        <div id="footer">
            <div>
                <p>&copy; @DateTime.Now.Year - MVC Blog Application</p>
            </div>
        </div>
    </div>
</body>
</html>
