@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>MVC Blog: @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/sitecss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>

<body class="body-layout">
    <div style="background-color: white">
        <div id="header">
            <div id="header-title">
                <a href="@Url.Action("List", "Posts", routeValues: new { page = 1 })">ASP.NET MVC Blog</a>
            </div>
            <div id="login">
                @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
            </div>
        </div>
        <div id="categories">
            <p>
                @{ Html.RenderAction("Menu", "Navigation"); }
            </p>
        </div>
        <div id="content">
            @RenderBody()
        </div>

        <div id="footer">
            <div>
                <p>&copy; @DateTime.Now.Year - MVC Blog Application</p>
            </div>
        </div>
    </div>
</body>
</html>

@RenderSection("scripts", required: false)
@RenderSection("styles", required: false)
