<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        /* Prevents slides from flashing */
        #slides {
            display: none;
            width: 940px;
            height: 500px;
            margin: 0 auto;
        }

            
    </style>

    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" type="text/css" rel="Stylesheet" />
    <link href="~/Content/font-awesome.min.css" type="text/css" rel="Stylesheet" />

    <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>

    <!--Slideshow-->
    <script src="@Url.Content("~/Scripts/jquery.slides.min.js")" type="text/javascript"></script>

    <script>
        $(function () {
            $("#slides").slidesjs({
                width: 940,
                height: 422,
                play: {
                    active: true,
                    auto: true,
                    interval: 6000,
                    swap: true,
                    pauseOnHover: true,
                    restartDelay: 2500
                },
                effect: {
                    slide: {
                        // Slide effect settings.
                        speed: 600
                        // [number] Speed in milliseconds of the slide animation.
                    },
                    fade: {
                        speed: 300,
                        // [number] Speed in milliseconds of the fade animation.
                        crossfade: true
                        // [boolean] Cross-fade the transition.
                    }
                }

            });
        });
    </script>

</head>

<body id="body">
    <div style="background-color: white">
        <div id="header">
            <div id="header-title">
                <a href="@Url.Action("List","Posts",routeValues: new {page = 1})">ASP.NET MVC Blog</a>
            </div>
            <div id="login">
                @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
            </div>
        </div>
        <div id="categories">
            <p>
                @{ Html.RenderAction("Menu", "Navigation"); }
            </p>
        </div>
        <div id="content">
            @RenderBody()
        </div>

        <div id="footer">
            <div>
                <p>&copy; @DateTime.Now.Year - MVC Blog Application</p>
            </div>
        </div>
    </div>
</body>
</html>
