@model MvcBlog.Domain.Entities.Post

<div id="post">

    <h4>@Model.PostTitle</h4>
    <p>
        Posted @Model.PostCreationDate by @Model.PostCreatedBy in @Html.RouteLink(@Model.PostCategory, new { controller = "Posts", action = "List", category = @Model.PostCategory, page = 1 }) category
    </p>

    @if (Model.ImageName != null)
    {

        <div class="summary-image">
            <img width="300"
                height="200"
                src="@Url.Action("GetPostThumbnail", "Posts", new { Model.PostID })"
                alt="Image for post '@Model.PostTitle'"
                title="@Model.PostTitle"/>
        </div>
    }
    
    <div class="summary-text">
        @Html.Raw(@Model.PostDescription)
    </div>
</div>

<div id="detailedLink">
    @Html.PostDetailsLinks(@Model.PostID, x => Url.Action(actionName: "SinglePost", controllerName: "Posts", routeValues: new { postId = x, category = Model.PostCategory }))
</div>