@model MvcBlog.Domain.Entities.Post

@{
    ViewBag.Title = "\"" + @Model.PostTitle + "\"";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Initialize TinyMCE wysiwyg redactor-->
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "textarea",
        menubar: false,
        statusbar: true,
        resize: true,
        toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent"
    });

</script>

<div class="item">
    <h2>@Model.PostTitle</h2>
</div>

<p>
    Created @Model.PostCreationDate by <strong>@Model.PostCreatedBy</strong> |
    Last modified @Model.PostLastModificationDate by <strong>@Model.PostLastModifiedBy</strong>
</p>

<div class="item">
    <p>In category: <strong>"@Model.PostCategory"</strong></p>
</div>

<div class="multiline">
    @Html.Raw(@Model.PostContent)
</div>
<hr />

<!--Social-->
<ul class="social-likes">
    <li class="facebook" title="Share link on Facebook">Facebook</li>
    <li class="twitter" title="Share link on Twitter">Twitter</li>
    <li class="plusone" title="Share link on Google+">Google+</li>
</ul>

<div class="item">
    <h4>Comments:</h4>
</div>

<div id="commentsList">
    @Html.Action("CommentsList")
</div>

@if (@Model.PostCommentsEnabled)
{
    if (User.Identity.IsAuthenticated)
    {
        @Html.Action("AddComment")
    }

    else
    {
        <text>Only authorized users can left comments. Please </text>
        @Html.ActionLink("authorize.", "Login", "Account", htmlAttributes: null, routeValues: new { returnUrl = Request.RawUrl })
    }
}
else
{
    <div>
        Sorry. Comments are disabled for this post!
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/socialLikes")
}

@section Styles {
    @Styles.Render("~/Content/socialcss")
}