@using MvcBlog.WebUI.Models
@model MvcBlog.WebUI.Models.PostDetailedModel
@{
    ViewBag.Title = "\"" + @Model.PostDetailed.PostTitle + "\"";
}

<!--Initialize TinyMCE wysiwyg redactor-->
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "textarea",
        menubar: false,
        statusbar: true,
        resize: true,
        toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent"
    });

</script>

<div id="item">
    <h2>@Model.PostDetailed.PostTitle</h2>
</div>

<p>
    Created @Model.PostDetailed.PostCreationDate by <strong>@Model.PostDetailed.PostCreatedBy</strong> | 
    Last modified @Model.PostDetailed.PostLastModificationDate by <strong>@Model.PostDetailed.PostLastModifiedBy</strong>
</p>

<div class="item">
    <p>In category: <strong>"@Model.PostDetailed.PostCategory"</strong></p>
</div>

<div class="multiline">
    @Html.Raw(@Model.PostDetailed.PostContent)
</div>
<hr />

<div class="item">
    <h4>Comments:</h4>
</div>

<div class="comments-list">
    @foreach (var c in Model.CommentsList)
    {
        <div class="comment item">

            <h3>@c.CommentCreationDate @c.CommentCreatedBy said:</h3>
            <div class="comment-avatar">
                <img src="@Url.Action("GetUserAvatar", "Account", new { userName = c.CommentCreatedBy })" height="90" width="90"/>
            </div>
            <div class="comment-text">
                <p class="multiline">@Html.Raw(@c.CommentContent)</p>
            </div>
            <p style="clear: left"></p>
        </div>
    }
    
</div>

@if (@Model.PostDetailed.PostCommentsEnabled)
{
    if (User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("AddComment", "Posts"))
        {
            @Html.TextAreaFor(p => p.NewComment.CommentContent)

            @Html.Hidden("postId", @Model.PostDetailed.PostID)
            @Html.Hidden("category", @Model.PostDetailed.PostCategory)
            <input type="submit" value="Save Comment" class="submit-comment" />
        }
    }

    else
    {
        <text>Only authorized users can left comments. Please </text>
        @Html.ActionLink("authorize.", "Login", "Account", htmlAttributes: null, routeValues: new { returnUrl = Request.RawUrl })
    }
}
else
{
    <div>
        Sorry. Comments are disabled for this post!
    </div>
}
