@using MvcBlog.WebUI.Models
@model MvcBlog.WebUI.Models.PostDetailedModel
@{
    ViewBag.Title = "MVC Blog: \"" + @Model.PostDetailed.PostTitle + "\"";
}

<!--Initialize TinyMCE wysiwyg redactor-->
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "textarea",
        menubar: false,
        statusbar: true,
        toolbar: "undo redo | styleselect | bold italic print| code link image"
    });

</script>



<div id="item">
    <h2>@Model.PostDetailed.PostTitle</h2>
</div>

<p>
    Created @Model.PostDetailed.PostCreationDate by <strong>@Model.PostDetailed.PostCreatedBy</strong> | 
    Last modified @Model.PostDetailed.PostLastModificationDate by <strong>@Model.PostDetailed.PostLastModifiedBy</strong>
</p>

<div id="item">
    <p>In category: <strong>"@Model.PostDetailed.PostCategory"</strong></p>
</div>

<div class="multiline">
    @Model.PostDetailed.PostContent
</div>
<hr />

<div id="item">
    <h4>Comments:</h4>
</div>

@foreach (var c in Model.Comments)
{
    if (c.CommentIsVisible)
    {
    <div id="comment">
        <div id="item">
            <h3>@c.CommentCreationDate @c.CommentCreatedBy said:</h3>
        </div>
        <p class="multiline">@Html.Raw(@c.CommentContent)</p>
    </div>
    }
}

@if (@Model.PostDetailed.PostCommentsEnabled)
{
    if (User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("AddComment", "Posts"))
        {
    @Html.TextAreaFor(p => p.NewComment.CommentContent@*, htmlAttributes: new { @class = "form-control", @rows = "3"}*@)

    @Html.Hidden("postId", @Model.PostDetailed.PostID)
    @Html.Hidden("category", @Model.PostDetailed.PostCategory)
    <input type="submit" value="Save Comment" class="submit-comment" />
        }
    }

    else
    {
    <text>Only authorized users can left comments. Please </text>
    @Html.ActionLink("authorize.", "Login", "Account", htmlAttributes: null, routeValues: new { returnUrl = Request.RawUrl })
    }
}
else
{
    <div>
        Sorry. Comments are disabled for this post!
    </div>
}